# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# 已忽略包含查询文件的默认文件夹
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 屏蔽模型权重文件（>100MB的pth）
*.pth
model/*.pth

# Python缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 系统垃圾文件
.DS_Store
Thumbs.db

# 编辑器配置
.vscode/
.idea/